<ion-content>
  <form
    class="form"
    class="container"
    [formGroup]="userLogin"
    (ngSubmit)="handleLogin()"
  >
    <div class="logo">
      <img src="../../assets/logo.jpeg" />
    </div>
    <ion-item>
      <ion-label position="stacked" ngDefaultControl
        >Username / Email</ion-label
      >
      <ion-input formControlName="email"></ion-input> </ion-item
    ><ion-item>
      <ion-label position="stacked" ngDefaultControl>Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit" (onclick)="handleLogin()">Login</ion-button>
    <span routerLink="/register"> Cadastre-se</span>
  </form>
</ion-content>
